In [22]:
from pymongo import MongoClient
conn = MongoClient("mongodb://localhost:27017/")
db = conn["test1"]
collection = db["student"]
conn.server_info()

{'version': '8.0.9',
 'gitVersion': 'f882ef816d531ecfbb593843e4c554fda90ca416',
 'targetMinOS': 'Windows 7/Windows Server 2008 R2',
 'modules': [],
 'allocator': 'tcmalloc-gperf',
 'javascriptEngine': 'mozjs',
 'sysInfo': 'deprecated',
 'versionArray': [8, 0, 9, 0],
 'openssl': {'running': 'Windows SChannel'},
 'buildEnvironment': {'distmod': 'windows',
  'distarch': 'x86_64',
  'cc': 'cl: Microsoft (R) C/C++ Optimizing Compiler Version 19.31.31107 for x64',
  'ccflags': '/nologo /WX /FImongo/platform/basic.h /fp:strict /EHsc /W3 /wd4068 /wd4244 /wd4267 /wd4290 /wd4351 /wd4355 /wd4373 /wd4800 /wd4251 /wd4291 /we4013 /we4099 /we4930 /errorReport:none /MD /O2 /Oy- /bigobj /utf-8 /permissive- /Zc:__cplusplus /Zc:sizedDealloc /volatile:iso /diagnostics:caret /std:c++20 /Gw /Gy /Zc:inline',
  'cxx': 'cl: Microsoft (R) C/C++ Optimizing Compiler Version 19.31.31107 for x64',
  'cxxflags': '/TP',
  'linkflags': '/nologo /DEBUG /INCREMENTAL:NO /LARGEADDRESSAWARE /OPT:REF',
  'target_arch': 'x86_64',
  'target_os': 'windows',
  'cppdefines': 'SAFEINT_USE_INTRINSICS 0 PCRE2_STATIC NDEBUG BOOST_ALL_NO_LIB _UNICODE UNICODE _SILENCE_CXX17_ALLOCATOR_VOID_DEPRECATION_WARNING _SILENCE_CXX17_OLD_ALLOCATOR_MEMBERS_DEPRECATION_WARNING _SILENCE_CXX17_CODECVT_HEADER_DEPRECATION_WARNING _SILENCE_ALL_CXX20_DEPRECATION_WARNINGS _CONSOLE _CRT_SECURE_NO_WARNINGS _ENABLE_EXTENDED_ALIGNED_STORAGE _SCL_SECURE_NO_WARNINGS _WIN32_WINNT 0x0A00 BOOST_USE_WINAPI_VERSION 0x0A00 NTDDI_VERSION 0x0A000000 ABSL_FORCE_ALIGNED_ACCESS BOOST_ENABLE_ASSERT_DEBUG_HANDLER BOOST_FILESYSTEM_NO_CXX20_ATOMIC_REF BOOST_LOG_NO_SHORTHAND_NAMES BOOST_LOG_USE_NATIVE_SYSLOG BOOST_LOG_WITHOUT_THREAD_ATTR BOOST_MATH_NO_LONG_DOUBLE_MATH_FUNCTIONS BOOST_SYSTEM_NO_DEPRECATED BOOST_THREAD_USES_DATETIME BOOST_THREAD_VERSION 5'},
 'bits': 64,
 'debug': False,
 'maxBsonObjectSize': 16777216,
 'storageEngines': ['devnull', 'wiredTiger'],
 'ok': 1.0}

In [9]:
result=collection.find({"department": "Mechanical","mark":{"$gt":80}},{"_id":0,"first_name":1,'last_name':1,"mark":1})
for x in result:
    print(x)

{'first_name': 'Arun', 'last_name': 'Kumar', 'mark': 89}
{'first_name': 'Abhilash', 'last_name': 'Menon', 'mark': 85}
{'first_name': 'Rahul', 'last_name': 'Varma', 'mark': 90}
{'first_name': 'Vinay', 'last_name': 'Krishna', 'mark': 82}
{'first_name': 'Anil', 'last_name': 'Rajan', 'mark': 86}
{'first_name': 'Ravi', 'last_name': 'Varma', 'mark': 83}
{'first_name': 'Hari', 'last_name': 'Narayan', 'mark': 84}
{'first_name': 'Vineeth', 'last_name': 'Mathew', 'mark': 81}
{'first_name': 'Nitin', 'last_name': 'Sankar', 'mark': 87}
{'first_name': 'Sarath', 'last_name': 'Ravi', 'mark': 83}
{'first_name': 'Vimal', 'last_name': 'Kumar', 'mark': 84}
{'first_name': 'Suresh', 'last_name': 'Reddy', 'mark': 88}

In [10]:
result=collection.find({"department": "MCA","mark":{"$gte":70,"$lte":900}},{"_id":0,"first_name":1,'last_name':1,"mark":1})
for x in result:
    print(x)

{'first_name': 'Anu', 'last_name': 'Joseph', 'mark': 95}
{'first_name': 'Meera', 'last_name': 'Raj', 'mark': 92}
{'first_name': 'Asha', 'last_name': 'Nair', 'mark': 88}
{'first_name': 'Divya', 'last_name': 'Pillai', 'mark': 98}
{'first_name': 'Ajith', 'last_name': 'Das', 'mark': 79}
{'first_name': 'Sita', 'last_name': 'Ram', 'mark': 91}
{'first_name': 'Lakshmi', 'last_name': 'Menon', 'mark': 94}
{'first_name': 'Arya', 'last_name': 'Krishnan', 'mark': 96}
{'first_name': 'Sneha', 'last_name': 'Thomas', 'mark': 93}
{'first_name': 'Geetha', 'last_name': 'Prakash', 'mark': 97}
{'first_name': 'Lekha', 'last_name': 'Nair', 'mark': 90}
{'first_name': 'Arya', 'last_name': 'Suresh', 'mark': 92}
{'first_name': 'Seema', 'last_name': 'Das', 'mark': 88}
{'first_name': 'Anjana', 'last_name': 'Prasad', 'mark': 89}
{'first_name': 'Rekha', 'last_name': 'Sivan', 'mark': 96}

In [13]:
result=collection.find({"first_name":{"$regex":"^A","$options":"i"}},{"_id":0,"first_name":1,'last_name':1,"mark":1})
for x in result:
    print(x)

{'first_name': 'Anu', 'last_name': 'Joseph', 'mark': 95}
{'first_name': 'Arun', 'last_name': 'Kumar', 'mark': 89}
{'first_name': 'Abhilash', 'last_name': 'Menon', 'mark': 85}
{'first_name': 'Asha', 'last_name': 'Nair', 'mark': 88}
{'first_name': 'Ajith', 'last_name': 'Das', 'mark': 79}
{'first_name': 'Anil', 'last_name': 'Rajan', 'mark': 86}
{'first_name': 'Arya', 'last_name': 'Krishnan', 'mark': 96}
{'first_name': 'Arya', 'last_name': 'Suresh', 'mark': 92}
{'first_name': 'Anjana', 'last_name': 'Prasad', 'mark': 89}

In [16]:
result=collection.find({"place":{"$nin":["Thiruvananthapuram"]}})
for x in result:
    print(x)

{'_id': 1, 'first_name': 'Anu', 'last_name': 'Joseph', 'gender': 'Female', 'mark': 95, 'grade': 'A+', 'department': 'MCA', 'place': 'Kollam', 'course': 'MCA'}
{'_id': 2, 'first_name': 'Arun', 'last_name': 'Kumar', 'gender': 'Male', 'mark': 89, 'grade': 'A', 'department': 'Mechanical', 'place': 'Ernakulam', 'course': 'Btech Mechanical'}
{'_id': 4, 'first_name': 'Abhilash', 'last_name': 'Menon', 'gender': 'Male', 'mark': 85, 'grade': 'A', 'department': 'Mechanical', 'place': 'Kozhikode', 'course': 'Btech Mechanical'}
{'_id': 5, 'first_name': 'Asha', 'last_name': 'Nair', 'gender': 'Female', 'mark': 88, 'grade': 'A+', 'department': 'MCA', 'place': 'Kottayam', 'course': 'MCA'}
{'_id': 6, 'first_name': 'Binu', 'last_name': 'George', 'gender': 'Male', 'mark': 76, 'grade': 'B', 'department': 'Mechanical', 'place': 'Kollam', 'course': 'Btech Mechanical'}
{'_id': 7, 'first_name': 'Divya', 'last_name': 'Pillai', 'gender': 'Female', 'mark': 98, 'grade': 'A+', 'department': 'MCA', 'place': 'Kottayam', 'course': 'MCA'}
{'_id': 8, 'first_name': 'Rahul', 'last_name': 'Varma', 'gender': 'Male', 'mark': 90, 'grade': 'A+', 'department': 'Mechanical', 'place': 'Pathanamthitta', 'course': 'Btech Mechanical'}
{'_id': 9, 'first_name': 'Vinay', 'last_name': 'Krishna', 'gender': 'Male', 'mark': 82, 'grade': 'A', 'department': 'Mechanical', 'place': 'Thrissur', 'course': 'Btech Mechanical'}
{'_id': 10, 'first_name': 'Ajith', 'last_name': 'Das', 'gender': 'Male', 'mark': 79, 'grade': 'B', 'department': 'MCA', 'place': 'Alappuzha', 'course': 'MCA'}
{'_id': 11, 'first_name': 'Sita', 'last_name': 'Ram', 'gender': 'Female', 'mark': 91, 'grade': 'A+', 'department': 'MCA', 'place': 'Alappuzha', 'course': 'MCA'}
{'_id': 12, 'first_name': 'Manu', 'last_name': 'Sharma', 'gender': 'Male', 'mark': 78, 'grade': 'B', 'department': 'Mechanical', 'place': 'Kannur', 'course': 'Btech Mechanical'}
{'_id': 13, 'first_name': 'Anil', 'last_name': 'Rajan', 'gender': 'Male', 'mark': 86, 'grade': 'A', 'department': 'Mechanical', 'place': 'Kollam', 'course': 'Btech Mechanical'}
{'_id': 14, 'first_name': 'Lakshmi', 'last_name': 'Menon', 'gender': 'Female', 'mark': 94, 'grade': 'A+', 'department': 'MCA', 'place': 'Palakkad', 'course': 'MCA'}
{'_id': 15, 'first_name': 'Ravi', 'last_name': 'Varma', 'gender': 'Male', 'mark': 83, 'grade': 'A', 'department': 'Mechanical', 'place': 'Kottayam', 'course': 'Btech Mechanical'}
{'_id': 16, 'first_name': 'Arya', 'last_name': 'Krishnan', 'gender': 'Female', 'mark': 96, 'grade': 'A+', 'department': 'MCA', 'place': 'Kollam', 'course': 'MCA'}
{'_id': 17, 'first_name': 'Hari', 'last_name': 'Narayan', 'gender': 'Male', 'mark': 84, 'grade': 'A', 'department': 'Mechanical', 'place': 'Pathanamthitta', 'course': 'Btech Mechanical'}
{'_id': 18, 'first_name': 'Sneha', 'last_name': 'Thomas', 'gender': 'Female', 'mark': 93, 'grade': 'A+', 'department': 'MCA', 'place': 'Idukki', 'course': 'MCA'}
{'_id': 19, 'first_name': 'Vineeth', 'last_name': 'Mathew', 'gender': 'Male', 'mark': 81, 'grade': 'B', 'department': 'Mechanical', 'place': 'Alappuzha', 'course': 'Btech Mechanical'}
{'_id': 20, 'first_name': 'Geetha', 'last_name': 'Prakash', 'gender': 'Female', 'mark': 97, 'grade': 'A+', 'department': 'MCA', 'place': 'Thrissur', 'course': 'MCA'}
{'_id': 21, 'first_name': 'Kiran', 'last_name': 'Pillai', 'gender': 'Male', 'mark': 77, 'grade': 'B', 'department': 'Mechanical', 'place': 'Wayanad', 'course': 'Btech Mechanical'}
{'_id': 22, 'first_name': 'Lekha', 'last_name': 'Nair', 'gender': 'Female', 'mark': 90, 'grade': 'A', 'department': 'MCA', 'place': 'Ernakulam', 'course': 'MCA'}
{'_id': 23, 'first_name': 'Nitin', 'last_name': 'Sankar', 'gender': 'Male', 'mark': 87, 'grade': 'A', 'department': 'Mechanical', 'place': 'Kozhikode', 'course': 'Btech Mechanical'}
{'_id': 24, 'first_name': 'Arya', 'last_name': 'Suresh', 'gender': 'Female', 'mark': 92, 'grade': 'A+', 'department': 'MCA', 'place': 'Kasargod', 'course': 'MCA'}
{'_id': 25, 'first_name': 'Sarath', 'last_name': 'Ravi', 'gender': 'Male', 'mark': 83, 'grade': 'B', 'department': 'Mechanical', 'place': 'Palakkad', 'course': 'Btech Mechanical'}
{'_id': 26, 'first_name': 'Seema', 'last_name': 'Das', 'gender': 'Female', 'mark': 88, 'grade': 'A', 'department': 'MCA', 'place': 'Pathanamthitta', 'course': 'MCA'}
{'_id': 27, 'first_name': 'Vimal', 'last_name': 'Kumar', 'gender': 'Male', 'mark': 84, 'grade': 'A', 'department': 'Mechanical', 'place': 'Thrissur', 'course': 'Btech Mechanical'}
{'_id': 28, 'first_name': 'Anjana', 'last_name': 'Prasad', 'gender': 'Female', 'mark': 89, 'grade': 'A+', 'department': 'MCA', 'place': 'Kannur', 'course': 'MCA'}
{'_id': 29, 'first_name': 'Suresh', 'last_name': 'Reddy', 'gender': 'Male', 'mark': 88, 'grade': 'A', 'department': 'Mechanical', 'place': 'Ernakulam', 'course': 'Btech Mechanical'}
{'_id': 30, 'first_name': 'Rekha', 'last_name': 'Sivan', 'gender': 'Female', 'mark': 96, 'grade': 'A+', 'department': 'MCA', 'place': 'Kasaragod', 'course': 'MCA'}

In [5]:
for doc in collection.find(
    {"mark": {"$gt": 78}},
    {"first_name": 1, "mark": 1, "_id": 0}
).skip(2).limit(5).sort("mark", -1):
    print(doc)

{'first_name': 'Arya', 'mark': 96}
{'first_name': 'Rekha', 'mark': 96}
{'first_name': 'Anu', 'mark': 95}
{'first_name': 'Lakshmi', 'mark': 94}
{'first_name': 'Sneha', 'mark': 93}

In [10]:
#update
collection.update_many({"first_name":"Anu"},{"$set":{"mark":95}})
for doc in collection.find({"first_name":"Anu"}):
    print(doc)

{'_id': 1, 'first_name': 'Anu', 'last_name': 'Joseph', 'gender': 'Female', 'mark': 95, 'grade': 'A+', 'department': 'MCA', 'place': 'Kollam', 'course': 'MCA'}

In [21]:
#delete
collection.delete_one({"mark":{"$lt":76}})
for doc in collection.find({"mark":{"$lte":80}}):
    print(doc)

{'_id': 10, 'first_name': 'Ajith', 'last_name': 'Das', 'gender': 'Male', 'mark': 79, 'grade': 'B', 'department': 'MCA', 'place': 'Alappuzha', 'course': 'MCA'}
{'_id': 12, 'first_name': 'Manu', 'last_name': 'Sharma', 'gender': 'Male', 'mark': 78, 'grade': 'B', 'department': 'Mechanical', 'place': 'Kannur', 'course': 'Btech Mechanical'}
{'_id': 21, 'first_name': 'Kiran', 'last_name': 'Pillai', 'gender': 'Male', 'mark': 77, 'grade': 'B', 'department': 'Mechanical', 'place': 'Wayanad', 'course': 'Btech Mechanical'}
{'_id': 6, 'first_name': 'Binu', 'last_name': 'George', 'gender': 'Male', 'mark': 76, 'grade': 'B', 'department': 'Mechanical', 'place': 'Kollam', 'course': 'Btech Mechanical'}

In [32]:
re=collection.find({}).sort("mark",-1).skip(3).limit(5)
for i in re:
    print(i["first_name"],i["last_name"],i["mark"],i["_id"])

Arya Krishnan 96 16
Anu Joseph 95 1
Lakshmi Menon 94 14
Sneha Thomas 93 18
Arya Suresh 92 24

In [46]:
collection2 = db["test2"]
val1=[{"name":"nandu","mark":{"internal":39,"external":56}},{"name":"mon","mark":{"internal":38,"external":57}}]
collection2.insert_many(val1)

InsertManyResult([ObjectId('683dd3e3011b47c977fdb6ea'), ObjectId('683dd3e3011b47c977fdb6eb')], acknowledged=True)

In [47]:

re=collection2.find({}).sort("mark.internal",-1)
for x in re:
    print(x)

{'_id': ObjectId('683dd3e3011b47c977fdb6ea'), 'name': 'nandu', 'mark': {'internal': 39, 'external': 56}}
{'_id': ObjectId('683dd3e3011b47c977fdb6eb'), 'name': 'mon', 'mark': {'internal': 38, 'external': 57}}